<!-- <header>
  <div [ngClass]="{bkgrndcls:c1,pddngclass:c2,brdrcls:c3}">
    <h2>{{banner}}</h2>
    <input type="text" [(ngModel)]="banner" />

    <div>
      <label> <input type="checkbox" [(ngModel)]="c1" />Background</label>
      <label> <input type="checkbox" [(ngModel)]="c2" />padding</label>
      <label> <input type="checkbox" [(ngModel)]="c3" />Border</label>
    </div>
  </div>
  ------------------

  <app-loan-form></app-loan-form>
</header> -->

<header class="jumbotron mb-0">
  <app-built-in-pipes></app-built-in-pipes>
</header>
